body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
}

.poster {
    margin-top: 70px;
    margin-left: 25%;
    width: 50%;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

img {
    border: 5px solid white;
    width: 100%;
}

#imgcap {
    font-style: italic;
    font-size: 0.75rem;
    color: #00dd3b;
}

#secret {
    border: 2px dashed #00dd3b;
}

a {
    text-decoration: none;
}